@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
:root {
  --primary-color: rgba(45, 13, 105, 1);
  --gradient-dark: rgb(38, 11, 88);
  --gradient-light: rgb(82, 7, 135);
  --translucent-white: rgba(255, 255, 255, 0.75);
  --faded-white: rgba(255, 255, 255, 0.5);
  --accent-color: rgb(255, 48, 248);
  --faded-accent: rgba(255, 48, 248, .3);
  --secondary-color: rgb(91, 0, 128);
}

body {
  margin: 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-dark)), color-stop(var(--gradient-light)), to(var(--gradient-dark)));
  background-image: linear-gradient(var(--gradient-dark), var(--gradient-light), var(--gradient-dark));
}

.footer {
  background-color: transparent;
  height: 10vh;
  margin-top: 20vh;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 6em;
  background-color: transparent;
  height: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo {
  margin-left: 5%;
}

.nav-container .logo .logo-img {
  height: 3.5em;
  width: 3.5em;
  min-height: 3em;
  min-width: 3em;
  background-image: url("../assets/Shield - Transparent.png");
  background-size: cover;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav-container .logo .logo-img:hover {
  background-image: url("../assets/Shield - Accent.png");
}

.nav-container nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-container nav ul {
  list-style: none;
  text-decoration: none;
}

.nav-container nav ul li {
  font-weight: 700;
  display: inline-block;
  margin: 0 1em;
}

.nav-container nav ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.nav-container nav ul li a:hover {
  color: var(--accent-color);
}

.nav-container .links {
  width: 15%;
  margin-right: 5%;
}

.nav-container .links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-container .links .link-item {
  height: 2em;
  width: 2em;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 25%;
  opacity: 1;
  -webkit-animation: heroAnimation 1s 0s 1;
          animation: heroAnimation 1s 0s 1;
}

.hero .greeting {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 6px;
  color: var(--accent-color);
}

.hero .name {
  font-weight: 700;
  font-size: 6rem;
  margin: 10px 0 0 0;
}

.hero .title {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  padding-left: 4px;
  color: var(--translucent-white);
  margin: 0 0 10px 0;
}

.hero .about-me {
  color: var(--faded-white);
  max-width: 40vh;
  font-size: 1.5rem;
  padding-left: 6px;
}

.hero .cta {
  width: 8em;
  height: 3em;
  background: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .cta:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.projects {
  width: 40%;
  margin: 0 30%;
  list-style: none;
}

.projects .project {
  width: 100%;
  height: 60vh;
  margin: 5% 0 10% 0;
}

.projects .project .project-image {
  height: 100%;
  width: 100%;
  background-image: url("../assets/image.jpg");
  background-size: cover;
  position: relative;
  border-radius: 20px;
}

@-webkit-keyframes heroAnimation {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes heroAnimation {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes navAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes navAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes projectsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes projectsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */